<ng-container *ngIf="taskViewer$ | async as taskViewer">
<mat-drawer-container fullscreen>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item class="search-list-item">
        <mat-form-field appearance="outline" class="search-form-field">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Input" class="search-input" [(ngModel)]="taskViewer.taskCategoryName"/>
        </mat-form-field>
      </mat-list-item>

      <ng-container *ngTemplateOutlet="taskTemplate;context:{'taskCategories':taskViewer.taskCategories, 'prop':'S'}">
      </ng-container>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="taskTemplate;context:{'taskCategories':taskViewer.taskCategories, 'prop':'C'}">
      </ng-container>

    </mat-nav-list>


    <div class="add-category">
      <button mat-icon-button class="add-button" (click)="addTaskCategory()"><mat-icon matPrefix>add</mat-icon></button>
    
      <input matInput placeholder="Input" class="category-input" [(ngModel)]="taskViewer.taskCategory.name">
      </div>
   
    



  </mat-drawer>
  <mat-drawer-content>
    <app-todo-list [categoryId]="taskViewer.taskCategory.id" [categoryName]="taskViewer.taskCategory.name"></app-todo-list>
  </mat-drawer-content>
</mat-drawer-container>
</ng-container>
<ng-template #taskTemplate let-taskCategories="taskCategories" let-prop="prop">
  <a mat-list-item *ngFor="let category of taskCategories | prop:prop  | filter:nameSearch" class="nav-list-item"
    (click)="saveCredentials(category.id,category.name)">
    <mat-icon matPrefix mat-list-icon [ngStyle]="{'color':category.icon.color}">
      {{category.icon.name}}
    </mat-icon>
    <h4 mat-line>{{category.name}}</h4>
    
    

  </a>
</ng-template>